@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: letter;
    margin: 0;
  }

  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .print\:hidden {
    display: none !important;
  }

  .print\:block {
    display: block !important;
  }

  .print\:p-0 {
    padding: 0 !important;
  }

  .print\:shadow-none {
    box-shadow: none !important;
  }

  .print\:rounded-none {
    border-radius: 0 !important;
  }

  .print\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }

  .print\:aspect-auto {
    aspect-ratio: auto !important;
  }

  .print\:overflow-visible {
    overflow: visible !important;
  }
}
